<!DOCTYPE>
<html>
<head>
<body>
<div itemscope>
<section itemscope itemtype="photo">
<p>
<img itemprop="photo" 
img src="logo.png">
</p> 
</div>
<di id="" align="middle">
<h2><strong><em>INFINITY FIRMS</strong></em></strong></em></h2>
</div>
<div id="" align="left">
<h1>about us</h1>
<p>Infinity Films is a leading conglomerate, privately held, legally registered and incorporated in Malawi.
We provide general business soutions across a range of real estate, accounting and marketing consultancy servicesto investors'property owners and occupiers.
As a trusted business entity, our services helpour clients to continuously capitalize on services that enhance the value creationof our clients.
Our strong local knowledge coupled with a breadth and depth of experience across industry sectors earned us trust of providing valueadding services to leading private and public business entities in Malawi</p>
<p> The growth of our companyhas mainly based on maintaining relationships with clients across a broad range of industries.
We love talking about professionalism, and conncting people fromall walks of life. we would invite anyone to drop in, speakto our teamand see what we are all about.</p>
<br />
<h2>mission statement</h2>
<p>We work to give the best service on time, just for less to all groups of people.
We aim at growing together with our clients by providing advice or recommendations that result in acheiving financial, operational, strategic,and project objectives.
We are commited to work totally in our client's interest.
We know our clients and customers are our business and they will be treated and looked after as we would like to be treated.</p>
<h3>Our vision</h3>
<p>To be the most reputable institution throuegh provision of good and affordable real estate and general consultancy services which take into consideration of clients' economic concerns</p>
<h4>Core values<h4>
<li> keeping good track record of our customer services</li>
<li> providing high quality services at reasonable fees</li>
<li> simplification of real estate, accounting and marketing consultancy services through provision of swift,dependable and professional services in malawi and elsewhere.</li>
<img src="" hieght="" width="">
<li>Cars and Electrpnics for sale..</li>
<br />
</div>
<br />
<div id="" align="left">
  <footer><p>Coded by <a href="httsthenewbreedtechnologies.com/">NBT</a></p></footer>
</div>
</body>
</html>