<!DOCTYPE html>
<html>
<head>
<link  rel="stylesheet"   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>
INFIITY FILMS
</title>
</head>
<body>
<div itemscope>
<section itemscope itemtype="photo">
<p>
<img itemprop="photo"> 
<img src="./image/5.JPEG">
</p> 
</div>
<div id="" align="middle">
<h2><strong><em>INFINITY FIRMS</strong></em></h2>
</div>
 
<br />
<div id="registration.html" align="middle">
</div> 
<br />
<br />
<div id="" align="middle">
<input type="text"
placeholder="search here.."
</div>
<br />
<div id="" align="middle">
<img src="./image/2.JPEG" hieght="200" width="200">
<li>Plots and Land For Sale in lilongwe</li>
<br >
<img src="./image/.JPEG" hieght="200" width="200">
<li>Houses for Sale an To Let.</li>
<br />
<img src="./image/1.JPEG" "hieght="200" width="200">
<li>Cars and Electronics for sale..</li>
<br />
</div>
<div id="" align="left">
<a href="our_services.html">OUR SERVICES</a>
<br />
<br />
<a href="Contact.html">CONTACT</a>
<br />
<br />
<a href="about_us.html">ABOUT US</a>
<br />
<br />
<a href="HOME.html">HOME</a>
<br />
<br />
<a href="registration.html">REGISTRATION</a>
</div>
</break>
</div>  
</header>
      <nav>....</nav>
     <div id="" align="left">
  <footer><p>Coded by <a href="httsthenewbreedtechnologies.com/">NBT</a></p></footer>
</div>
   </body>
</html>