<!DOCTYPE>
<html>
<head>
<body>
<div itemscope>
<section itemscope itemtype="photo">
<p>
<img itemprop="photo" 
img src="logo.png">
</p> 
</div>
<di id="" align="middle">
<h2><strong><em>INFINITY FIRMS</strong></em></strong></em></h2>
</div>
<div id="" align="left">
<h1>Our services</h1>
<h2>REAL ESTATE </h2>
<li> Property development property sales and acquisition</li>
<li> Property Valuation</li>
<li> Land surveys and Property Leasing</li>
<li> Archtectural Designs</li>
<li>Plots and Land For Sale in lilongwe</li>
<br/ >
<h3> SALES AND MARKETING</h3>
<li> Processing of tax Clearance and Withholding tax exemption certificate from Malawi Revenue Authority</li>
<li> Tax Preparation</li>
<li> Tax Audit and representation </li>
<li> Property and Marketing Reaserch </li>
<li> Stragetic Planning Consultancy </li>
<li> Social Media Management </li>
<li> Payroll Management </li>
<li> Management Accounts Preparation </li>
<li> Preparaton of Financial Statements </li>
<br />
<h4>MARKETING/ACCOUNTING CONSULTANCY</h4>
<li> Property Sales: Plots, House, Farms, Electronics...</li>
<li> Property Market Reaserch</li>
</div>
<div id="" align="left">
  <footer><p>Coded by <a href="httsthenewbreedtechnologies.com/">NBT</a></p></footer>
</div>
<br />
</body>
</html>

