<DOCTYPE HTML>
<html>
<body>
<div itemscope>
<section itemscope itemtype="photo">
<p>
<img itemprop="photo" 
img src="logo.png">
</p> 
</div>
<div id="content" align="middle">
<h1><strong><em>INFINITY FIRMS</strong></em></h2>
</div>
</break>
</break>
<div id="form action" align="middle">
<h1> Welcome to Client registration portal</h2>
<p>You have a PROPERTY for Sale?...YOU have it, WE sale it. fill the form below. <strong><em>(P/HOLDERS ONLY)</em></strong></p>
<br />

<form action = "/cgi-bin/html5.cgi" method = "post"
<p>

<label for="Clientname">Client name: </label>
<input type="text" id="Clientname"><br />
<br />
<label for="Location">Location: </label>
<input type="text" id="Location"><br />
<br />
<label for="Enteremail">Enter email: </label>
<input type="Enteremail"><br />
<br />

<label for="Propertybeinngsold">Property being sold: </label>
<input type="text" id="Propertybeingsold"><br />
<br />

<label for="Phonenumber">Phone number: </label>
<input type="number" id="phonenumber"><br />
<br />

<input type="submit" value="send"><input type="reset">
<br />
<br />

<p>Are You looking for a PROPERTY such as <strong><em>Land, house, cars, elctronic gadgets,</em></strong> etc to buy?.Your search is over.Fill the form below</p>
<br />

<form action = "/cgi-bin/html5.cgi" method = "post"
<p>
<label for="Clientname">Client name: </label>
<input type="text" id="Clientname"><br />
<br />
<label for="PreferedLocation">Prefered Location: </label>
<input type="text" id="PreferedLocation"><br />
<br />
<label for="Enteremail">Enter email: </label>
<input type="text" id="Enteremail"><br />
<br />

<label for="Propertybeinngneeded">Property being needed: </label>
<input type="text" id="Propertybeingneeded"><br />
<br />

<label for="Phonenumber">Phone number: </label>
<input type="number" id="phonenumber"><br />
<br />

<input type="submit" value="send"><input type="reset">
<br />
</p>

</form>
</div>
     <aside>
     <footer><p>Coded by <a href="httsthenewbreedtechnologies.com/">NBT</a></p></footer>
       </aside>
</body>
</html>